# Configuración de N8N
N8N_HOST=tu.dominio.com
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://tu.dominio.com/
GENERIC_TIMEZONE=America/Caracas

# CONFIGURACIÓN DEL MOTOR DE BASE DE DATOS (POSTGRESQL)
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=192.168.1.XX
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n_db
DB_POSTGRESDB_USER=nombre_de_usuario
DB_POSTGRESDB_PASSWORD=tu_contraseña_secreta

# Llave de cifrado (Generar una cadena aleatoria y única)
N8N_ENCRYPTION_KEY=tu_llave_de_cifrado_secreta
